.lower__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.control {
  display: flex;
  justify-content: space-evenly;
  min-width: 200px;
  font-size: 1.5rem;
}
body {
  background-image: linear-gradient(
    to top,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
}
